/* global styles to fix width of the box (content + padding, margin) to the width specified instead of the default, 
     which is fixing the element to the width specified, with the padding and stuff adding extra pixel paddings*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

.homepage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.toggle {
  display: flex;
  justify-content: flex-end;
}

/* currently implementing what i know from previous project; 
  TODO: change design */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
.container > * {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* mobile first, so the media query is for desktop */
@media (min-width: 401px) {
  .container > * {
    height: 70%;
    width: 35%;
  }
}

.bio {
  flex: 50%;
}

.night-theme {
  color: red;
}

.day-theme {
  color: blue;
}

/* use margin-inline-start for spacing to accomodate other lang

built-in for chrome
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}*/
