/* global styles to fix width of the box (content + padding, margin) to the width specified instead of the default, 
     which is fixing the element to the width specified, with the padding and stuff adding extra pixel paddings*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.toggle {
  display: flex;
  justify-content: flex-end;
}

/* currently implementing what i know from previous project; 
  TODO: change design */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  border-style: solid;
}

.img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
/*
@media (max-width: 400px) {

  .container > * {
    color: green;
    max-height: 100%;
    max-width: 100%;
  }
}
*/
.bio {
  flex: 50%;
}

.night-theme {
  color: red;
}

.day-theme {
  color: blue;
}

/* use margin-inline-start for spacing to accomodate other lang

built-in for chrome
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}*/
